src/assets/js/
build/*.js
config/*.js
static/**/*.js
src/gift/assets/js/*.js
src/gift/**/*.vue
src/password-red/assets/js/*.js
src/flowbank/assets/js/*.js
src/flowbank/**/*.vue
src/icbc_card/**/**/*.vue
