
/*页面常用颜色*/
$color-white: #fff;
$color-border:#dddddd;
$color-font:#333333;
$color-font-sec:#999999;
$color-green:#2ab040;
$color-red:#e42f46;
$color-bg-red:#fb919e;
$color-red-opacity:rgba(228,47,70,0.2);
$color-bgc:#f5f5f5;
$color-boder:#dbdbdb;
$color-font-msg:#4c4c4c;
$color-mycoupon-bg:#f6f8f6;
$color-charge-btn:#9da39e;
$color-blank:#fff;
$border-grey: 0.01rem solid #dddddd;
$border-white: 0.01rem solid #fff;
